
<section 
style="background-color: whitesmoke; color: black; padding: 0 50px; margin-top: 20px;">
    <h1 style="margin-right: auto;"><span style="color: gray;">Data</span><span style="color: lightgreen;">STACK</span></h1>
    <h4 style="color: black; margin-right: auto; padding-top: 10px;">Hi,</h4>
    <p style="color:black; margin-top: 10px; padding: 5px 20px; line-height: 2;">Thank you for creating an account with us! we are super proud that 
        you want to grow your bussiness with us and you have taken the bold step by signing up for 
        an account with us. We will be sharing your business analysis with more discriptive
        details of the number of co-workers with you. Kindly refer to our 
        <a href="" style="text-decoration: none; color: lightblue;" >home page</a> for more discriptive analysis
        of how <b>DataSTACK</b> ends up working. Here is your one-time Universal Identity Code that we use 
        to keep track of your co-workers: {{uid}}  
    </p>

</section>
